.playlist {
  color: #eee;
  background-color: #333;
  display: block;
  min-height: 100%;
  padding: 0 3%;
  position: absolute;
  width: 30%;
}

.playlist nav {
  margin: auto;
  padding: 0;
  width: 180px;
}

.playlist-albums {
  list-style: none;
  padding: 0 2%;
}

.playlist-control {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 50px;
  margin: 0;
  padding: 10px;
  text-indent: -9999px;
  width: 55px;
}

.playlist-control.is-play {
  background-image: url('images/control_pause.png');
}

.playlist-control.is-play:hover {
  background-image: url('images/control_pause_hover.png');
}

.playlist-control.is-pause {
  background-image: url('images/control_play.png');
}

.playlist-control.is-pause:hover {
  background-image: url('images/control_play_hover.png');
}

.playlist-control.is-prev {
  background-image: url('images/control_start.png');
}

.playlist-control.is-prev:hover {
  background-image: url('images/control_start_hover.png');
}

.playlist-control.is-next {
  background-image: url('images/control_end.png');
}

.playlist-control.is-next:hover {
  background-image: url('images/control_end_hover.png');
}
